@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    font-family: "DM Sans", sans-serif;  
    box-sizing: border-box;
}

:root{
    --color-one:#F7D9C4;
    --color-two:#EFEFEF;
    --color-text:#1a1616;
}

body{
    margin: 0;
}